<!DOCTYPE html>
<html>
	<head>
		<title>CHIEVE | <%= title %></title>
		<!-- build:css /css/dashboard.min.css -->
		<link rel="stylesheet" href="../../../dev/css/mainCSS/normalize.css"></link>
	    <link rel="stylesheet" href="../../../dev/css/mainCSS/chieveBase.css"></link>
	     <link rel="stylesheet" href="../../../dev/css/pageCSS/dashboard.css"></link>
		<!-- endbuild -->
	</head>
	<body>
		<div id="dashboardApp" class="full-stretch-vertical">
		</div>
		<!--########## SCRIPTS ##########-->
		<!--########## LIBRARIES ##########-->
	    <!-- Fetch Polyfill -->
	    <script type="text/javascript" src="/js/lib/fetch/fetch.js"></script>
	    <!--########## CUSTOM ##########-->
	    <!-- build:js /js/pages/dashboard.min.js -->
		 <script type="text/javascript" src="../../../dev/js/app/compiled_apps/dashboard.js"></script>
		<!-- endbuild -->
	</body>
</html>