<!DOCTYPE html>
<html>
	<head>
		<title>CHIEVE | <%= title %></title>
		<!-- build:css /css/dashboard.min.css -->
		<link rel="stylesheet" href="../../../dev/css/mainCSS/normalize.css"></link>
	    <link rel="stylesheet" href="../../../dev/css/mainCSS/chieveBase.css"></link>
		<!-- endbuild -->
	</head>
	<body>
		<h1><%= title %></h1>
	</body>
</html>