<!DOCTYPE html>
<html>
	<head>
		<title>CHIEVE | <%= title %></title>
		<link rel="stylesheet" href="/css/dashboard.min.css">
	</head>
	<body>
		<div id="dashboardApp" class="full-stretch-vertical">
		</div>
		<!--########## SCRIPTS ##########-->
		<!--########## LIBRARIES ##########-->
	    <!-- Fetch Polyfill -->
	    <script type="text/javascript" src="/js/lib/fetch/fetch.js"></script>
	    <!--########## CUSTOM ##########-->
	    <script src="/js/pages/dashboard.min.js"></script>
	</body>
</html>