<!--######################## Nav ################################-->
<nav>
	<div class="nav-panel">
		<ul>
			<li>
				<p><a href="#works-section-container">WORKS</a></p>
			</li>
			<!--li>
				<p><a href="">ABOUT</a></p>
			</li-->
			<li>
				<p><a href="#contact-section-container">CONTACT</a></p>
			</li>
		</ul>
	</div>
	<a href="javascript:void(0)" id="open-nav-button">
		<div class="bar-1"></div>
		<div class="bar-2"></div>
	</a>
</nav>