/* READ ME */
/*
This file is used for page specific CSS- namely javascript state classes,
page-specific components, and other CSS that exists within the specified
view
*/

/*--- Text ---*/
.objective-title {
	font-size: 7.5rem;
	width: 40rem;
	font-weight: 400;
	line-height: 14.7rem;
	margin-top: 8.576rem;
	padding-top: 1.4rem;
	text-align: right;
}

/*--- Containers ---*/
.objective-view {
	z-index: 1;
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 0;
}

	.open-objective-view .objective-view {
		visibility: visible;
		opacity: 1;
	}

.add-task-container,
.add-goal-container {
	padding-top: 5rem;
}

.add-task-form,
.add-goal-form {
	border: 0px solid #d7d7d7;
	padding: 0rem;
	margin-bottom: 0rem;
	opacity: 0;
	height: 0rem;
	overflow: hidden;
	/*animation*/
	transition-timing-function: all 0.5s ease 0.5s;
	-webkit-transition: all 0.5s ease 0.5s; /* Safari */
	transition: all 0.5s ease 0.5s;
}

	/*# JS applied states #*/
	.add-task-form.open {
		border: 1px solid #d7d7d7;
		padding: 2rem;
		margin-bottom: 2rem;
		opacity: 1;
		height: 10rem;
	}

	.add-goal-form.open {
		border: 1px solid #302f2f;
		padding: 2rem;
		margin-bottom: 2rem;
		opacity: 1;
		height: 5rem;
	}

/*--- Add new form ---*/
.add-task-form select {
	margin-top: 2rem;
}

/*--- Add Button Drawer ---*/
.add-button-drawer {
	width: 100%;
	position: relative;
	height: 3.9rem;
	padding-bottom: calc(3.9rem * 2);
	/*animation*/
	transition-timing-function: all ease 0.5s;
	-webkit-transition: all ease 0.5s; /* Safari */
	transition: all ease 0.5s;
}

	.add-button-drawer .add-button {
		position: absolute;
		left: calc((100% - 3.9rem) / 2);
		/*animation*/
		transition-timing-function: all ease 0.5s;
		-webkit-transition: all ease 0.5s; /* Safari */
		transition: all ease 0.5s;
	}

		.add-button-drawer .add-button.one {
			opacity: 0;
		}

	/*# JS applied states #*/
	.add-button-drawer.two-options .add-button.one{
		left: calc((100% - (3.9rem * 3)) / 2);
		opacity: 1;
	}

	.add-button-drawer.two-options .add-button.two{
		left: calc((100% + (3.9rem)) / 2);
		/*animation*/
		-webkit-transform: rotate(45deg);
	   	   -moz-transform: rotate(45deg);
	         -o-transform: rotate(45deg);
	}

		.add-button-drawer.two-options .add-button.two:hover {
			background-color: #ff9f9f;
			border: 2px solid #ff9f9f;
		}
	/*~~ Style Options ~~*/
	.blackground .add-button-drawer .add-button {
		border: 2px solid #85888C;
	}

		.blackground .add-button-drawer .add-button:hover {
			background-color: #85888C;
		}

	.blackground .add-button-drawer .add-button .line-1,
	.blackground .add-button-drawer .add-button .line-2 {
		background-color: #85888C;
	}

		.blackground .add-button-drawer .add-button:hover .line-1,
		.blackground .add-button-drawer .add-button:hover .line-2 {
			background-color: #000000;
		}

/*--- Objective ---*/
#dashboard-objective-overlay {
	top: 14.5rem;
	right: calc((100vw - 40rem) / 2);
	/*animation*/
	transition-timing-function: all ease 0.5s;
	-webkit-transition: all ease 0.5s; /* Safari */
	transition: all ease 0.5s;
}

	/*# JS applied states #*/
	.open-objective-view #dashboard-objective-overlay {
		z-index: 1;
		top: calc(14.5rem - (150vw));
		right: calc((100vw - 40rem) / 2 - (150vw));
		height: calc(2 * 150vw);
		width: calc(2 * 150vw);
		visibility: visible;
		opacity: 1;
	}

	/*--- Special positioning ---*/
	.objective-link {
		position: absolute;
	    display: inline-block;
	    top: 9.1rem;
	    right: 0rem;
	    font-size: 1.8rem;
	    color: #969a9f;
	    cursor: pointer;
	    /*animation*/
		transition-timing-function: all ease 0.3s;
		-webkit-transition: all ease 0.3s; /* Safari */
		transition: all ease 0.3s;
	}

		.objective-link:hover {
			font-size: 2.1rem;
			top: 8.9rem;
			right: -1rem;
		}

		.objective-link:active {
			color: #d7d7d7;
		}

	.tasks-link {
		position: absolute;
	    display: inline-block;
	    top: 17.7rem;
	    font-size: 1.8rem;
	    color: #787b7f;
	    cursor: pointer;
	    /*animation*/
		transition-timing-function: all ease 0.3s;
		-webkit-transition: all ease 0.3s; /* Safari */
		transition: all ease 0.3s;
	}

		.tasks-link:hover {
			font-size: 2.1rem;
			top: 17.4rem;
			left: -0.2rem;
		}

		.tasks-link:active {
			color: #d7d7d7;
		}

/*-- Sign Out --*/
#dashboard-sign-out-link {
	position: fixed;
	top: 1rem;
	right: 2rem;
	font-size: 1.88rem;
	font-family: "Rubik-Medium";
	font-weight: 500;
	text-decoration: none;
	color: black;
	z-index: 2;
}

.open-objective-view #dashboard-sign-out-link {
	color: white;
}










